kaggle
pandas
numpy
scikit-learn==1.6.1
transformers
datasets
pyarrow
shap
lime
matplotlib
seaborn
fastapi
uvicorn
torch
accelerate
evaluate
streamlit
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
